body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  text-align: center;
}

h1 {
  color: #333;
  background-color: white;
}

li{
  list-style: none;
  background-color: white;
  width:200px;
  padding-left: 100px;
 margin-left:20 px; 
}

#container{
  font-weight: bold;
  background-color: blue;
}

#countries-list{
  display: flex;
  flex-wrap: wrap;
}